.play-btn {
    display: block;
    position: fixed;
    /* position: absolute; */
    top: 10px;
    left: 10px;
    border: 2px solid lightblue;
    border-radius: 30px;
    padding: 10px;
    /* background-color: grey; */
    z-index: 1200;
}

.play-btn:hover {
    border: 2px solid #fff;
}
.play-btn:hover > .sound-wave > .bar {
    background: #fff;
}

.sound-wave {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sound-wave > .bar {
    display: block;
    width: 2px;
    margin-right: 1px;
    height: 10px; /*90px*/
    background: lightblue;
    /* background: #7C93BF; */
    animation: sound 0ms -800ms linear infinite alternate;
    transition: height 0.8s;
}

  
@keyframes sound {
    0% {
        opacity: .35;
        height: 6px; 
    }
    100% {
        opacity: 1;       
        height:19px;
    }
}
  
.bar:nth-child(1)  { height: 2px; animation-duration: 474ms; }
.bar:nth-child(2)  { height: 10px; animation-duration: 433ms; }
.bar:nth-child(3)  { height: 18px; animation-duration: 407ms; }
.bar:nth-child(4)  { height: 26px; animation-duration: 458ms; }
.bar:nth-child(5)  { height: 30px; animation-duration: 400ms; }

/* .play-btn:hover { */
    /* cursor: pointer; */
/* } */
