.slowpoke {
  position: relative;
  background-color: rgb(227, 241, 245);
  width: 40%;
  height: 200px;
  border-radius: 10px;
  left: 25%;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.psyduck {
  position: relative;
  width: 40%;
  height: 180px;
  border-radius: 10px;
  left: 25%;
  margin-top: 10px;
  overflow: hidden;
  img {
    position: absolute;
    bottom: 0;
    width: 120%;
    left: 0;
  }
}
.footer_gif {
}
